.mainContainer h5 {
   font-family: 'BenchNine', sans-serif;
   font-weight: 700;
   color: #a7a7a7;
   font-size: 20px;
   letter-spacing: 5px;
 }
 .mainContainer h1 {
   font-family: 'Playfair Display', sans-serif;
   font-weight: bolder;
   color: #222222;
   font-size: 2.5rem !important;
   letter-spacing: 5px;
 }
 .contactInfo h6 {
   font-family: 'Playfair Display', sans-serif;
 
   font-weight: bolder;
   color: #222222;
   font-size: 1rem;
   letter-spacing: 3px;
 }
 .mainContainer p {
   color: #707070;
   font-size: 17px;
   font-size: var(--secondary-font) !important;
 }
 .mainContainer button {
   min-width: 200px;
 }
 