#hero_container {
  background-color: #ffffff;
  height: 600px;
}
#hero_container ul {
  top: 70%;
  right: 5%;
  list-style: none;
  z-index: 2;
  color: #ffffff;
  font-family: var(--primary-font);
}
#hero_container ul li {
  cursor: pointer;
}
.navigator_bar {
  transition: all 1s;
  overflow: hidden;
  height: 20px;
}
.navigator_bar_active {
  height: 0 !important;
}
#hero_container .__slider img {
  object-fit: cover;
  object-position: top;
}
.__slider {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.__slider h1 {
  font-family: var(--primary-font);
  font-weight: 700 !important;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 3px;
}
.__slider p {
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffff;
  width: 50%;
  letter-spacing: 1px;
}
.__slider button {
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  background: none;

  left: 8px;
  transition: background 0.3s ease-in;
  border: 2px solid #e1dede;
}
.__slider button:hover {
  background-color: #e1dede;
  color: black;
}
.haa:hover {
  color: rgb(244 115 115) !important;
}
.img_gradient {
  z-index: 50;
  background: linear-gradient(rgb(63 63 63 / 25%), rgba(0, 0, 0, 0.7));
}
.active_slide {
  opacity: 1 !important;
  z-index: 1 !important;
}

.desc_container {
  bottom: 0%;
  transition: opacity, bottom 1s ease-in-out;
  opacity: 0;
  z-index: 100;
}
.desc_anim {
  animation: desc_anim 0.5s linear 2s 1 alternate;
  animation-fill-mode: forwards;
}
@keyframes desc_anim {
  100% {
    bottom: 10%;
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  #hero_container {
    height: 400px;
  }
  .__slider h1 {
    font-size: 25px;
  }
  .__slider p {
    font-size: 13px;
    width: 400px;
  }
  .__slider button {
    font-size: 10px;
  }
}
@media screen and (max-width: 541px) {
  #hero_container {
    height: 400px;
  }
  .__slider h1 {
    font-size: 25px;
  }
  .__slider p {
    font-size: 11px;
    width: 70%;
  }
  .__slider button {
    font-size: 10px;
  }
  .desc_container {
    margin-left: 10px !important;
  }
}
@media screen and (max-width: 330px) {
  #hero_container {
    height: 300px;
  }
  .__slider h1 {
    font-size: 15px;
  }
  .__slider p {
    font-size: 9px;
    width: 80%;
  }
  .__slider button {
    font-size: 9px;
  }
  .desc_container {
    margin-left: 10px !important;
  }
  #hero_container ul {
    top: 55%;
    right: 5%;
    list-style: none;
    z-index: 2;
    color: #ffffff;
    font-family: var(--primary-font);
  }
}
