/* About Section  */
.vertical_img{
      
    width: 400px;
    z-index: 1;
}
.horizontal_img{
    bottom: 0;
    width: 403px;
    height: 270px;
}
.about_section img{
    position: absolute;
}
.about_section > div{
    height: 500px;
}
.top_heading_container > div{
    width: 60px;
    height: 1px;
    background-color: var(--primary-heading-color);
}
.top_heading_container h6{
  font-family: 'Roboto, Helvetica, Arial, Lucida, sans-serif;';
  color: #707070;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 13px;
}
.about_desc h1{
    font-size: 30px;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 42px;
    border-bottom: 1px solid var(--primary-heading-color);
    margin-right: 80px;
}
.about_desc p{
    width: 85%;
    font-family: 'Roboto, Helvetica, Arial, Lucida, sans-serif;';
  color: #707070;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 990px) {
 .vertical_img{
      
    width: 400px;
    z-index: 1;
}
.about_desc h1{
  
    margin-right: 70px;
}
.about_desc p{
    width: 90%;
}
}
@media screen and (min-width: 768px) {
 .vertical_img{
        right: 8%;
    width: 400px;
    z-index: 1;
}

}