.weddingContainer h1{
font-family: 'Parisienne', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-font-color);
    letter-spacing: 4px;
}
.headingContainer
{
    background-color: #ffffffe2;
}
.imgContainer{
    height: 400px;
    
}
.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.transparent{
    background-color: transparent;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   
    align-items: center;
    position: absolute;
}
.transparent h1{
    color: #fff;
    letter-spacing: 10px;
}
